.filters {
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	display: flex;
}

/* "margin: auto 30px auto auto;" works better with display: flex
margin: auto is used to center an element horizontally when it is a flex item with a flex container.
It doesn't have the same effect on non-flex elements. */
.filters button{
	font-size: 18px;
	background: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin: auto 30px auto auto;
}

.filters button:hover {
	background-color: rgba(255, 90, 95, .9);
}